.start-menu-wrapper {

    .start-menu-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        .start-menu {
            width: 50%;
            height: 50%;
            background-color: #003e7d;
            padding: 20px;
            border: 1px solid #dee2e6;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            display: flex;
            justify-content: end;
            align-items: end;

        }
    }
}